@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.all-products-card{
    @include column-center;
    gap: 10px;

    & img{
        width: 300px;
    }
    & a {
        text-decoration: none;
        color: $violet;
    }
}

@media screen and (min-width: 768px){
    .all-products-card{
        width: 400px;
        & img {
            max-height: 400px;
        }
    }
}