.product-card-details {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 40rem;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.1);
    height: 50rem;
    padding: 20px;
    justify-content: center;
    gap: 20px;
  }